################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DunGen.NET/FileContentIndex/e90857c4-6c8e-4481-b638-f46ef5b92086.vsidx
